name: build_and_release

on:
  schedule:
    - cron: '06 11 * * *'

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v5

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y git python3-pip patchelf fakeroot gettext
          sudo -H pip3 install pyopenssl boto3 --upgrade
          sudo -H pip3 install git+https://github.com/AppImageCrafters/appimage-builder.git
          arch=$(uname -m)
          sudo wget https://github.com/AppImage/AppImageKit/releases/download/continuous/appimagetool-${arch}.AppImage -O /usr/bin/appimagetool
          sudo chmod +x /usr/bin/appimagetool

      - name: Check if Release Exists
        id: release_exists
        env:
          GH_REPO: ${{ github.repository }}
          GH_TOKEN: ${{ github.token }}
        run: |
          if [[ -z "${GITHUB_WORKSPACE}" ]]; then
            # Use curl if not github.com actions not detected
            ver_with_next=$(basename $(curl -L -s -o /dev/null -w '%{url_effective}' "https://archive.chirpmyradio.com/download?stream=next"))
          else
            # If github.com actions is detected, use alternate method to avoid Cloudflare blocks
            ver_with_next=$(python3 ./chirp_mirror_version.py)
          fi

          # Save $ver_with_next for the Release job
          echo "VER_WITH_NEXT=$ver_with_next" >> $GITHUB_ENV

          # The `gh release view` command returns a non-zero exit code if the release does not exist.
          # Set the appropriate shell option so the script continues.
          set +e

          gh release view ${ver_with_next}
          if [ $? -eq 0 ]; then
            echo "RELEASE_EXISTS=true" >> $GITHUB_ENV
          else
            echo "RELEASE_EXISTS=false" >> $GITHUB_ENV
          fi

      - name: Build AppImage
        if: ${{ env.RELEASE_EXISTS == 'false' }}
        run: |
          chmod +x ./build.sh
          ./build.sh

      - name: Release
        if: ${{ env.RELEASE_EXISTS == 'false' }}
        env:
          GH_REPO: ${{ github.repository }}
          GH_TOKEN: ${{ github.token }}
        run: |
          artifacts=Chirp-*.AppImage
          tag="${{ env.VER_WITH_NEXT }}"

          gh release create --latest ${tag} -t ${tag} ${artifacts} --notes ""
