name: build_and_release

on:
  schedule:
    - cron: '06 11 * * *'

  workflow_dispatch:

  # Allows Dan to trigger synchronization,
  # which then triggers snaps to build
  repository_dispatch:
    types: dan-says-build

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v3

      - name: Set Timezone
        run: |
          # Set timezone to America/Los_Angeles so the build date is aligned with official builds
          sudo sudo ln -sf /usr/share/zoneinfo/America/Los_Angeles /etc/localtime

      - name: Install dependencies
        run: |
          sudo apt-get update && sudo apt-get install -y git python3-pip patchelf fakeroot gettext lynx
          sudo -H pip3 install pyopenssl --upgrade
          sudo -H pip3 install git+https://github.com/AppImageCrafters/appimage-builder.git
          arch=$(uname -m)
          sudo wget https://github.com/AppImage/AppImageKit/releases/download/continuous/appimagetool-${arch}.AppImage -O /usr/bin/appimagetool
          sudo chmod +x /usr/bin/appimagetool

      - name: Build AppImage
        run: |
          chmod +x ./build.sh
          ./build.sh

      - name: Release
        env:
          GH_REPO: ${{ github.repository }}
          GH_TOKEN: ${{ github.token }}
        run: |
          if [[ -z "${GITHUB_WORKSPACE}" ]]; then
            # Use curl if not github.com actions not detected
            ver_with_next=$(basename $(curl -L -s -o /dev/null -w '%{url_effective}' "https://archive.chirpmyradio.com/download?stream=next"))
          else
            # If github.com actions is detected, use the scriptable console-based lynx browser
            ver_with_next=$(basename $(lynx -dump -noredir -head "https://archive.chirpmyradio.com/download?stream=next" | grep -E -o 'https://.*chirp.*$'))
          fi

          artifacts=Chirp-*.AppImage

          gh release view ${ver_with_next}
          if [ $? -eq 0 ]; then
            echo "Release exists, exiting."
          fi

          gh release create --latest ${ver_with_next} -t ${ver_with_next} ${artifacts} --notes ""
          gh release upload ${ver_with_next} ${artifacts}
